---
const year = new Date().getFullYear();
---

<footer class="footer">
    <div class="container">
        <p>&copy; {year} Ultimate Security Solutions LLC. All Rights Reserved.</p>
    </div>
</footer>
